<section id="slider-container">
    <div class="itemCarrousel">
        <div class="slide fade" id="slide-0">
            <img src="/img/banner.png" alt="Banner de oferta">
        </div>
         <div id="arrow-wrapper">
            <p id="arrow-prev" class="slider-arrow"></p>
            &#10094;
            <p id="arrow-next" class="slider-arrow"></p>
            &#10095;
        </div>
        <div id="dots-wrapper" class="center_x">
            <div class="dot-nav"></div>
            <div class="dot-nav"></div>
            <div class="dot-nav"></div>
        </div>
    </div>
    <div class="itemCarrousel">
        <div class="slide fade" id="slide-1">
            <img src="/img/banner1.png" alt="Banner de oferta">
        </div>
         <div id="arrow-wrapper">
            <p id="arrow-prev" class="slider-arrow"></p>
            &#10094;
            <p id="arrow-next" class="slider-arrow"></p>
            &#10095;
        </div>
        <div id="dots-wrapper" class="center_x">
            <div class="dot-nav"></div>
            <div class="dot-nav"></div>
            <div class="dot-nav"></div>
        </div>
    </div>
</section>