
<div class="slider-frame">

    <div class="slide-images">

        <div class="img-container A">
            <img src="/img/slidder1.svg" width="100%">
        </div>

        <div class="img-container B">
            <img src="/img/slidder2.svg" width="100%">
        </div>

        <div class="img-container C">
            <img src="/img/slidder3.svg" width="100%">
        </div>

    </div>
</div>