<footer>
    <div class="footer">
        <div class="nosotros">
            <h3>¿QUIÉNES SOMOS?</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ipsa at ad fuga esse reiciendis mollitia libero optio saepe nulla. Veniam dolorem, ex quos nisi dicta doloremque fugiat nemo veritatis neque velit, obcaecati qui accusantium recusandae omnis iste? Mollitia, sapiente.</p>
        </div>
        <div class="pago-redes">
            <div class="pago">
                <h3>MÉTODOS DE PAGO</h3>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-apple-pay"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
            <div class="redes">
                <h3>REDES SOCIALES</h3>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>
        <div class="suscripcion">
            <h3>¡SUSCRÍBETE Y ENTÉRATE ANTES QUE TODOS!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quaerat!</p>
            <div class="registro">
                <form action="/" method="GET">
                    <div class="barra2">
                        <input type="text" placeholder="Registra tu correo electrónico">
                    </div>
                    <div class="boton-plane">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="derechos">
            <p>Copyright 2021 © Gamingo. Todos los Derechos Reservados.</p>
        </div>
    </div>
</footer>