<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <main>

        <article class="nombre-producto-consola">
            <h1>Nombre del Producto</h1>
            <a href="#" class="consola">PS4</a>
        </article>

        <section class="detalles-producto">
            <div class="imagen-juego">

            </div>
        <article class="datos">
            <div class="calif">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            </div>
            <div class="precios">
            <p class="precio-final">$49.50</p>
            <p class="precio-tachado">$52.00</p>
            </div>
            <p class="detalles">Vivamus at sodales ligula. Donec interdum nulla luctus purus porttitor fermentum. Phasellus bibendum odio eget mauris accumsan, a suscipit lectus porta. Suspendisse potenti. </p>
            <div class="cantidad">
                <label for="id_form-0-quantity"><b>Cantidad:</b></label>
                <input class="cantidad" id="id_form-0-quantity" min="1" name="form-0-cantidad" value="1" type="number">
            </div>
            <button class="button-principal" type="submit">AGREGAR A CARRITO</button>
        </article>
        </section>

        <section class="description">
            <h2>Descripción del Producto</h2>
            <ul>
                <li>Suspendisse ullamcorper nisl sed dui aliquet vehicula.</li>
                <li>Aliquam eu tortor aliquam diam mollis vulputate ut eu risus.</li>
                <li>Nullam suscipit sem et eros fringilla, hendrerit laoreet urna bibendum.</li>
                <li>Nulla eget libero ut mi congue viverra.</li>
            </ul>
        </section>
        <section class="productos">
            <div class="ver">
                <h3>También te podría interesar...</h3>
                <a href="#" class="mas">Ver más...</a>
            </div>
            <section class="acomodo">
            <article class="otros">
                <div class="juego1">

                </div>
                <p class="nombre-producto">Nombre del Producto</p>
                <p class="precio">$0.00</p>
                <div class="estrellas">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </article>
            <article class="otros">
                <div class="juego2">

                </div>
                <p class="nombre-producto">Nombre del Producto</p>
                <p class="precio">$0.00</p>
                <div class="estrellas">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </article>
            <article class="otros">
                <div class="juego3">

                </div>
                <p class="nombre-producto">Nombre del Producto</p>
                <p class="precio">$0.00</p>
                <div class="estrellas">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </article>
            <article class="otros quitar">
                <div class="juego4">

                </div>
                <p class="nombre-producto">Nombre del Producto</p>
                <p class="precio">$0.00</p>
                <div class="estrellas">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </article>
            </section>

        </section>    
    </main>   
    <%- include('./partials/footer.ejs') %>
</body>
</html>