<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>

</head>
<body>
    <header>
        <div class="header">
            <div class="mitad1">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo">
                    <img src="/img/logo-prueba.png" alt="logo">
                </div>
            </div>
            <div class="mitad2">
                <div class="linkLogReg">
                    <a href="./loginRegister">Ingresar/Registrarse</a>
                </div>
                <div class="shopping-cart">
                    <a href="#"><i class="fas fa-shopping-cart"></i><p>Carrito</p></a>
                </div>
            </div>
            <div class="buscador">
                <form action="/" method="GET">
                    <div class="barra">
                        <input type="text" placeholder="Buscar...">
                    </div>
                    <div class="boton-lupa">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <nav class="navegador">
            <div class="link-nav">
                <a href="/index">INICIO</a>
            </div>
            <div class="link-nav">
                <a href="/index">SWITCH</a>
            </div>
            <div class="link-nav">
                <a href="/index">XBOX ONE</a>
            </div>
            <div class="link-nav">
                <a href="/index">XBOX 360</a>
            </div>
            <div class="link-nav">
                <a href="/index">PS5</a>
            </div>
            <div class="link-nav">
                <a href="/index">PS4</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="botonesCrearIniciar">
            <div class="iniciar">
                <a href="/login">Iniciar sesión</a>
            </div>
            <div class="crear">
                <a href="/register">Crear Cuenta</a>
            </div>
        </div>
        <div class="formularios">      
            <div class="form2"> 
                <form action="/" method="GET">
                    <div class="input-form">
                        <label for="nombre">Nombre(s)*</label>
                        <input type="text" name="nombre" id="nombre" placeholder="tu@correo.com" required>
                    </div>
                    <div class="input-form">
                        <label for="apellido">Apellidos*</label>
                        <input type="text" name="apellido" id="apellido" placeholder="tu@correo.com" required>
                    </div>
                    <div class="input-form">
                        <label for="correo">Correo Electrónico*</label>
                        <input type="text" name="correo" id="correo" placeholder="tu@correo.com" required>
                    </div>
                    <div class="input-form">
                        <label for="contraseña">Contraseña*</label>
                        <input type="text" name="contraseña" id="contraseña" placeholder="Ingresa tu contrasñea" required>
                    </div>
                    <div class="input-form">
                        <div class="campos">
                            <p>*Campos requeridos</p>
                        </div>
                    </div>
                    <div class="input-form">
                        <div class="campos2">
                            <p>Al dar click en Crear Cuenta, estás aceptando los <a href="#">Términos y Condiciones de Uso</a> de éste sitio. Adicionalmente estás aceptando nuestro <a href="#">Aviso de Privacidad</a> y recibirás información publicitaria de Gamingo a tu correo electrónico.</p>
                        </div>
                    </div>
                    <div class="input-form">
                        <button type="submit">CREAR CUENTA</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="footer">
            <div class="nosotros">
                <h3>¿QUIÉNES SOMOS?</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae ipsa at ad fuga esse reiciendis mollitia libero optio saepe nulla. Veniam dolorem, ex quos nisi dicta doloremque fugiat nemo veritatis neque velit, obcaecati qui accusantium recusandae omnis iste? Mollitia, sapiente.</p>
            </div>
            <div class="pago-redes">
                <div class="pago">
                    <h3>MÉTODOS DE PAGO</h3>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                    <i class="fab fa-google-pay"></i>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                </div>
                <div class="redes">
                    <h3>REDES SOCIALES</h3>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
            <div class="suscripcion">
                <h3>¡SUSCRÍBETE Y ENTÉRATE ANTES QUE TODOS!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quaerat!</p>
                <div class="registro">
                    <form action="/" method="GET">
                        <div class="barra2">
                            <input type="text" placeholder="Registra tu correo electrónico">
                        </div>
                        <div class="boton-plane">
                            <button type="submit"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="derechos">
                <p>Copyright 2021 © Gamingo. Todos los Derechos Reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>