/* BANNERS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slider-frame{
    overflow: hidden;
    height: 311px;
    width: 1312px;
    margin: auto;
    margin-top: 20px;


}


@-webkit-keyframes slide_animation {
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1312px;}
    30% {left: 1312px;}
    40% {left: 2624px;}
    50% {left: 2624px;}
    60% {left: 1312px;}
    70% {left: 1312px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}

.slide-images{
    width: 3936px;
    height: 311px;
    margin: 0 0 0 -2624px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    height: 311px;
    width: 1312px;
    position: relative;
    float: left;
}

