
/* BANNERS */
.banner-section{
    width: 100%;
    margin: auto;
    background-color: var(--bodyfondo);
}
.banner-container{
    padding: 25px 0px;
    width: 90%;
    margin: auto;
}
.banner-container img{
    width: 100%;
    border-radius: 20px;
}

/* MAIN */
.main-index{
    margin-bottom: 40px;
    padding: 0px 15px;
    background-color: var(--bodyfondo);
    color: white;
}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding-top: 20px;
    font-size: 18px; 
}
.tag-title{
    width: 270px; 
}
.ver-mas{
    width: 100px;
    display: flex;
    justify-content: flex-end;
    color: #C77C91;
}
.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-index section article{
    background-color: var(--formfondo);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 8px;
    transition: box-shadow 450ms;
    width: 32%;
    height: 35%;
    position: relative;
    /* border: solid 1px var(--verdeagua); */
}
.products article img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}
.main-article{
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex;
    flex-direction: column;
    align-content: stretch;
    border: solid 1px yellow; */
}
.description{
    padding-bottom: 5px;
}
.price{
    padding-bottom: 5px;
}
.rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.checked {
    color: orange;
  }

/* FOOTER BEFORE EJS*/
/* 
footer{
    background: var(--headerfondo);
    color:white;
}
.footer{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h3{
    padding: 10px 0 5px 0;
    font-size: 14px;
}
.about-us{
    width: 50%;
    padding: 20px;
}
.payments-socials{
    padding: 20px 0 20px 20px;
    width: 50%;
}
.payments i{
    padding: 5px;
    font-size: 30px;
}
.socials i{
    margin: 5px;
    padding: 4px;
    font-size: 30px;
    background: var(--verdeagua);
    color: black;
    border-radius: 100%;
}
.subscription{
    width: 100%;
    padding: 20px;
}
.bottom-register form{
    margin: 20px 0;
    display: flex;
    width: 100%;
}
.register-bar input{
    border-radius: 5px;
    padding: 5px;
    width: 85vw;
}
.register-button button{
    background: var(--verdeagua);
    padding: 5px 3px;
    border-radius: 0 5px 5px 0;
    border: none;
    margin-top: 2px;
    margin-left: -20px;
}
.copyright{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
} */

@media (min-width: 481px){
    
    /* BANNERS */
    .banner-container{
        padding: 15px 0px;
        width: 75%;
    }
    .banner-container img{
        height: 220px;
    }
    /* MAIN */ 
    .main-index{
        padding: 0px 20px;
    }
    .main-index section article{
        width: 26%;
    }
    /* FOOTER */
    /* .about-us{
        width: 50%;
    }
    .payments i{
        padding: 10px;
    }
    .socials i{
        margin: 5px 15px;
    }
    .subscription{
        width: 70%;
    }
    .register-bar{
        width: 90%;
    }
    .register-bar input{
        width: 100%;
    } */
}
@media (min-width: 769px){
    
    /* BANNERS */
    .banner-container{
        padding: 0px 0px;
        width: 60%;
    }
    .banner-container img{
        height: 250px;
    }
    /* MAIN */ 
    .main-index{
        padding: 0px 30px;
    }
    .main-index section article{
        width: 16%;
    }
    /* FOOTER */
    /* .about-us{
        width: 25%;
    }
    .payments-socials{
        width: 30%;
    }
    .subscription{
        width: 25%;
    } */
}
@media (min-width: 1280px){
    /* BANNERS */
    .banner-container{
        width: 45%;
    }
    .banner-container img{
        height: 230px;
    }
    /* MAIN */ 
    .main-index{
        padding: 0px 35px;
    }
    .main-index section article{
        width: 14%;
    }
}