
body {
    color: white;
}

.imagen-juego {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}


.logo-1 {
    display: none;
}
.main-navbar {
    display: none;
}

.form-busqueda {
    width: 100vw;
    order: 1;
}
.shop {
    display: none;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px;
}

h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-top: 32px;
    margin-bottom: 32px;
}


h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}
p.precio-final {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    margin-right: 8px;
}
p.precio-tachado {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-decoration-line: line-through;
}
p {
    font-style: normal;
    font-weight: normal;
    /* font-size: 14px; */
    /* Corregir aqui y los tags del css, al parecer afecta al header y a otras secciones
       Porfa checalo, manejaremos css individuales para cada seccion
    */
    line-height: 22px;
}

p.nombre-producto {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 8px;
}
p.precio {
    text-align: center;
}
p.detalles {

    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #828584;
    
}
div.calif {
    padding: 16px;
    text-align: center;
    margin-bottom: 16px;
}

div.precios {

    color: #B3FBD4;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

div.estrellas {
    display: none;

}
div.cantidad {
    text-align: center;
    margin-bottom: 32px;
}
input.cantidad {
    max-width: 50px;
    text-align: center;
}
.description li {
    color: #828584;
    margin-bottom: 16px;
}
a.consola {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #EDB1BD;
}
a.mas {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #C77C91;
}
.ver {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

a.mas{
    font-size: 16px;
}

.quitar {
    display: none;
}

.checked {
    color: #EEBE69;
}
article.otros {
    background-color: #323434;
    border-radius: 5px;
    padding: 16px;
    flex-grow: 0.33;
    margin: 16px;
}

section.detalles-producto {
    display: block;
}
article.nombre-producto-consola {
    padding-left: 32px;
    padding-right: 32px;
}

.button-principal {
    background-color: #70EECA;
    border: solid 1px #70EECA;
    padding: 16px 32px;
    border-radius: 15px;
    display: block;
    margin: auto;
}
div.tags{
    padding-left: 32px;
}
div.products{
    padding: 32px;
}
section.description{
    padding: 32px;
}

.button-modificar, .button-eliminar {
/*     background-color: #70EECA;
    border: solid 1px #70EECA; */
    padding: 16px 62px;
    border-radius: 15px;
    margin: 0 32px;
    display: block;
    margin: auto;
}

.button-modificar{
    background-color: #828584;
    border: solid 1px #828584;
}

.button-eliminar{
    background-color: #CE255E;
    border: solid 1px #CE255E;
}

.button-principal:hover{
    background-color: #377C8A;
    border-color: #377C8A;
    color: white;  
}

.button-modificar:hover{
    border-color: #111A1E;
    background-color: #111A1E;
    color: white;  
}
.link-modificar-a{
    text-decoration: none;
}
.button-eliminar:hover{
    background-color: #F07A8A;
    border-color: #F07A8A;
    color: white; 
    font-weight: bold;
}


@media (min-width: 481px){

    
}

@media (min-width: 769px){

    
    
    section.detalles-producto {
        display: flex;
        justify-content: space-between;
        
    }
    .quitar {
        display: block;
    }
    p.nombre-producto {
        font-size: 16px;
    }

    article.datos {
        display: flex;
        flex-flow: column;
        width: 30%;
        align-items: center;
        align-self: center;
    }
    .button-principal {
        padding: 16px 64px;

    }

    h1 {
        font-size: 32px;
    }

    
      
}

@media (min-width: 1280px){

    
}