*{
    --headerfondo: linear-gradient(180.12deg, #183940 -9.07%, #48172F 99.9%);
    --verdeagua: #0CF2C9;
    --bodyfondo: #242626;
    --formfondo: #323434;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--bodyfondo);
}

/* HEADER */
header{
    background: var(--headerfondo);
    color: white;
}
.top-header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4px;
}
.burger-logo{
    display: flex;
    width: 45%;
    align-items: center;
    margin-top: 15px;
    /* border: solid 1px red; */
}
.burger-menu i{
    /* height: 40px; */
    width: 100%;
    font-size: 35px;
    /* border: solid 1px red; */
}
.logo{
    margin-left: 10px;
    width: 45%;
    /* border: solid 1px red; */
}
.logo img{
    width: 100%;
}
.login-register{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 5px 0;
}
.shopping-cart{
    display: flex;
}
.shopping-cart a{
    text-decoration: none;
    color: white;
}
.shopping-cart a p{
    display: none;
    padding-left: 5px;
}
.login-ref a{
    color: white;
    text-decoration: none;
}
.search-container form{
    padding: 10px 0;
    display: flex;
    width: 100%;
    margin: auto;
}
.search-bar input{
    border-radius: 5px;
    padding: 5px;
    width: 90vw;
}

.search-button button{
    background: var(--verdeagua);
    padding: 5px 3px;
    border-radius: 0 5px 5px 0;
    border: none;
    margin-top: 2px;
    margin-left: -20px;
}
.bottom-header{
    width: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 5px 0;
    background: var(--verdeagua);
}
.link-nav{
    width: 30%;
    text-align: center;
}
.link-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
/* yet to check all li in case of bugs */
li{
    display: inline-block;
    line-height: 30px;
    /* margin: 0 10px; */
}
li a{
    text-decoration: none;
    font-weight: lighter;
    color: rgb(52, 58, 64);
}
li a i{
 font-size: 28px;
}
li a:hover{
    color: rgb(49, 112, 175);
    font-weight: 600;
}
/* Dropdown Button */
.dropbtn {
    background-color: var(--verdeagua);
    color: rgb(79, 74, 74); 
    padding: 6px 0;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    border: none;
    text-align: center;
    /* border: 1px solid yellow; */
    line-height: 22px;
    width: 140px;
}
.dropbtn img{
    width: 28px;
    color: #343A40;
    position: absolute;
    /* left: 4px;
    top: 22.5px; */
}
.dropbtn i{
      margin-left: 5px;
}  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}  
/* Hidden by Default */
.dropdown-content {
    border-radius: 5px;
    line-height: 40px;
    margin: auto;
    display: none;
    position: absolute;
    background-color: #dadbdc;
    min-width: 20vh;
    /* height: 120px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
} 
/* Change color and border of dropdown links on hover */
.dropdown-content a:hover {
      background-color: #b0b5ba;
      border-radius: 5px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: rgb(49, 112, 175);
    font-weight: 600;
}

/* FOOTER */
footer{
    background: var(--headerfondo);
    color:white;
}
.footer{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.nosotros{
    width: 50%;
    padding: 20px;
}
.pago-redes{
    padding: 20px 0 20px 20px;
    width: 50%;
}
.pago i{
    padding: 5px;
    font-size: 30px;
}
.redes i{
    margin: 5px;
    padding: 4px;
    font-size: 30px;
    background: var(--verdeagua);
    color: black;
    border-radius: 100%;
}
.suscripcion{
    width: 100%;
    padding: 20px;
}
.derechos{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
}
h3{
    padding: 10px 0 5px 0;
    font-size: 14px;
}
.barra2 input{
    border-radius: 5px;
    padding: 5px;
    width: 85vw;
}
.boton-plane button{
    background: var(--verdeagua);
    padding: 5px 3px;
    border-radius: 0 5px 5px 0;
    border: none;
    margin-top: 2px;
    margin-left: -20px;
}
.registro form{
    margin: 20px 0;
    display: flex;
    width: 100%;
}

@media (min-width: 481px){
    /* HEADER */
    .burger-logo{
        width: 20%;
    }
    .burger-menu{
        display: none;
    }
    .logo{
        margin-left: 0px;
        width: 60%;
    }
    .login-register{
        order: 2;
        width: 30%;
    }
    .search-container{
        padding: 0;
        display: flex;
        width: 50%;
        justify-content: flex-start;
        align-items: center;
    }
    .search-container form{
        padding-top: 18px;
        width: 100%;
    }
    .search-bar{
        width: 85%;
    }
    .search-bar input{
        width: 100%;
        height: 41px;
    }
    .search-button{
        height: 37px;
        margin-top: 0px;
    }
    .search-button button{
        height: 100%;
    }
    .bottom-header{
        display: flex !important;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    /* FOOTER */
    .nosotros{
        width: 50%;
    }
    .pago i{
        padding: 10px;
    }
    .redes i{
        margin: 5px 15px;
    }
    .suscripcion{
        width: 70%;
    }
    .barra2{
        width: 90%;
    }
    .barra2 input{
        width: 100%;
    }
}
@media (min-width: 769px){
    /* HEADER */
    .logo img{
        width: 72%;
    }
    .shopping-cart a{
        display: flex;
        width: 100%;
        align-items: baseline;
    }
    .shopping-cart a p{
        display: flex;
    }
    .bottom-header{
        height: 10%;
    }
    .link-nav a{
        font-size: 16px;
    }
    /* FOOTER */
    .nosotros{
        width: 25%;
    }
    .pago-redes{
        width: 30%;
    }
    .suscripcion{
        width: 25%;
    }

}
@media (min-width: 1280px){
    /* HEADER */
    .logo img{
        width: 60%;
    }
}