<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
    
        <main>

            <div class="not-found">
                <div class="imagen-not-found">

                </div>
                <div class="mensaje-not-found">
                    <h1>ERROR 404... PAGINA NO ENCONTRADA</h1>
                </div>
                
            </div>
           
        </main>
    
        <%- include('../partials/footer.ejs') %>
</body>
</html>