<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="consola">
            <div class="tags">
                <h2 class="tag-title">SWITCH</h2>
            </div>
            <div class="products">
                <article>
                    <img src="/img/item-1.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Animal Crossing</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-2.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Luigi's Mansion</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-3.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Super Mario Party</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-1.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-2.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-3.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Nombre del producto</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>