<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <%- include('../partials/banner.ejs') %>
    
    <main class="main-shopping">
        <div class="tags">
            <h4 class="tag-title">XBOX 360</h4>
        </div>
        <section class="best-sellers-shopping">
            <div class="products">
                <article>
                    <img src="/img/ff.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Final Fantasy XIII</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/wolf.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Wolfenstein</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>   
                <article>
                    <img src="/img/ds.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Dark Souls</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/singu.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Singularity</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/trans.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Transformers</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/bf.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Battlefield</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="best-sellers-shopping">
            <div class="products">
                <article>
                    <img src="/img/ff.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Final Fantasy XIII</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/wolf.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Wolfenstein</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>   
                <article>
                    <img src="/img/ds.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Dark Souls</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/singu.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Singularity</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/trans.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Transformers</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/bf.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Battlefield</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="best-sellers-shopping">
            <div class="tags">
                <h4 class="tag-title">Tambien te puede interesar</h4>
            </div>
            <div class="products">
                <article>
                    <img src="/img/item-1.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Battlefield V</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/hori.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Horizon</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/acnh.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Animal Crossing</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/ds.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Dark Souls</h4>
                        <p class="price">$ 1,200</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/me.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Mass Effect</h4>
                        <p class="price">$ 2,300</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
                <article>
                    <img src="/img/item-3.png" alt="">
                    <div class="main-article">
                        <h4 class="description">Mario Party</h4>
                        <p class="price">$ 1,500</p>
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                    </div>
                </article>
            </div>
        </section> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>