<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    
    <main>
        <h3 style="text-align: center; margin-bottom: 16px; color: white; font-size: 3em; margin-top: 64px;">Aviso de privacidad</h3>
        <h3 style="margin-bottom: 16px; color: white;padding-left: 64px;">I. ¿QUÉ HACEMOS CON SU INFORMACIÓN?</h3>
        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
            Cuando usted compra algo de nuestra tienda, como parte del proceso de compra y venta, recopilamos la información personal que usted nos da, como su nombre, dirección y dirección de correo electrónico.

            Cuando navegas por nuestra tienda, también recibimos automáticamente la dirección del equipo de protocolo de Internet (IP) con el fin de proporcionarnos información que nos ayuda a aprender acerca de su navegador y sistema operativo.
            
            Marketing por correo electrónico (si procede): Con su permiso, podemos enviarle correos electrónicos acerca de nuestra tienda, nuevos productos y otras actualizaciones.
        </p>
        <h3 style="margin-bottom: 16px; color: white; padding-left: 64px;">II. CONSENTIMIENTO</h3>
        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
            ¿Cómo obtiene Gamingo S.A. de C.V. mi consentimiento?

            Cuando usted nos proporciona información personal para completar una transacción, verificar su tarjeta de crédito, hacer un pedido, los arreglos para una entrega o devolución de una compra, implicamos que usted acepta nuestra recogerla y utilizarla sólo para esa razón específica.
            
            Si le pedimos su información personal por una razón secundaria, como el marketing, vamos a cualquiera que pedir directamente su consentimiento expreso, o proporcionarle la oportunidad de decir que no.
            
            ¿Cómo puedo retirar mi consentimiento?
            
            Si después se aceptar, cambia de opinión, puede retirar su consentimiento para que nos comuniquemos con usted, para la colección permanente, el uso o divulgación de su información, en cualquier momento, poniéndose en contacto con nosotros en no-reply@gamingo.com
        </p>
        <h3 style="margin-bottom: 16px; color: white; padding-left: 64px;">III. DIVULGACIÓN</h3>
        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
            Podemos revelar su información personal si estamos obligados por ley a hacerlo o si infringe nuestros Términos de Servicio.
        </p>
        <h3 style="margin-bottom: 16px; color: white; padding-left: 64px;">IV. SEGURIDAD</h3>
        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
            Para proteger su información personal, tomamos las precauciones razonables y seguir las mejores prácticas de 
            la industria para asegurarse de que no se pierde de manera inapropiada, mal uso, acceso, divulgada, alterado 
            o destruido.

            Si usted nos proporciona su información de tarjeta de crédito, la información es encriptada utilizando 
            tecnología de capa de conexión segura (SSL) y se almacena con un cifrado AES-256. Aunque ningún método de 
            transmisión a través de Internet o de almacenamiento electrónico es 100% seguro, seguimos todos los requisitos 
            de PCI-DSS y aplicar las normas de la industria generalmente aceptados adicionales.
        </p>
    </main>
    <%- include('../partials/footer.ejs') %>

</body>
</html>