<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <br>
    <main>
        <h1>DASHBOARD</h1>
        <br>
        <p><a href="/products/create">Agregar Producto</a></p>
        <br>
        <p><a href="/products">Todos los Productos</a></p>
        <br>
        <p><a href="/">Home</a></p>
        <br>
    </main>
</body>
</html>