<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
        <h3 style="text-align: center; margin-bottom: 16px; color: white; font-size: 3em; margin-top: 64px;">Términos y conndiciones de Gamingo SA de CV</h3>

        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
        Este sitio web es operado por Gamingo SA de CV. A través del mismo, los siguientes términos refieren a Gameplanet SA de CV. 
        Gameplanet SA de CV ofrece este sitio web al usuario, incluyendo toda la información, herramientas y servicios, dependiendo 
        de su aceptación a todos los términos, condiciones, políticas y avisos aquí establecidos.
        </p>

        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
        Al visitar nuestro sitio y/o comprar algo en nuestra tienda online, usted participará en nuestro servicio y acepta que 
        quedará vinculado por los siguientes términos y condiciones ("Términos de Servicio", "Condiciones"), incluidos 
        los términos y condiciones adicionales y las políticas hace referencia en el presente documento y/o 
        disponibles a través de hipervínculos. Estas Condiciones del servicio se aplican a todos los usuarios de la página, 
        incluyendo sin limitación de usuarios que son los navegadores, proveedores, clientes, comerciantes y/o contribuciones 
        de contenido.
        </p>

        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
        Por favor, lea estas Condiciones de servicio cuidadosamente antes de acceder o utilizar nuestra página web. 
        Al acceder o utilizar cualquier parte del sitio, usted acepta que quedará vinculado por estas Condiciones de servicio. 
        Si usted no está de acuerdo con todos los términos y condiciones de este acuerdo, entonces usted no puede acceder a la 
        página web o utilizar cualquiera de los servicios. Si estas Condiciones de servicio se consideran una oferta, la 
        aceptación está expresamente limitada a estos Términos de Servicio.
        </p>

        <p style="color: #828584; margin-bottom: 16px; padding: 64px;">
        Cualquier función nueva o herramientas que se añaden a la tienda actual también estarán sujetos a los 
        Términos de Servicio. Usted puede revisar la versión más actualizada de los Términos de Servicio en cualquier 
        momento en esta página. Nos reservamos el derecho a actualizar, modificar o reemplazar cualquier parte de estas 
        Condiciones del servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web. Es su 
        responsabilidad revisar esta página periódicamente para los cambios. El uso continuado de o acceso al sitio web 
        después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.
        </p>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>



</html>