<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main>
    <p>AQUI VAN TODOS LOS PRODUCTS</p>
</main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>